.job-title{
    font-weight: bold;
}
.planet4us{
	display: none;
}
.telia{
    display: none;
}
.cybercom{
    display: none;
}
.bevaka{
    display: none;
}
.mitab{
    display: none;
}
.coophaga{
    display: none;
}
.lasesmatstuga{
    display: none;
}